$dark: #0f172a;
$light: #ffffff;
$blue: #38bdf8;
$purple: #6366f1;
$blu: #3B82F6;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: $dark;
    color:$light;
    overflow-x: hidden;
}

#body{
    display: flex;
    flex-direction: column;
    row-gap: 6em;
    width: 100%;
}



@keyframes arrow {
    0% {
        top:-1em;
        right: -1em;
    }
    
    25% {
        top:-1.2em;
        right: -1.2em;
    }
    
    50% {
        top:-1.5em;
        right: -1.5em;
    }

    75%{
        top:-1.9em;
        right: -1.9em;
    }

    100%{
        top:-2.2em;
        right: -2.2em;
    }
}